/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu", sans-serif;;
    line-height: 1.6;
    color: #1f2937;
    background-color: #ffffff;
    transition: background 0.2s ease;
}

/* Typography */
h1,
h2,
h3,
h4 {
    line-height: 1.3;
    font-weight: 800;
    color: #111827;
    font-family: Manrope;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
    max-width: 65ch;
}

/* Layout */
main {
    width: 100%;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h2 {
    text-align: center;
}

form {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
    max-width: 420px;
}

form input {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 1.5rem;
    background-color: #EDEDED;
    border: 1px solid #8b8c89;
    border-radius: 6px;
    outline: none;
}


form button {
    width: 100%;
    padding: 15px;
    background-color: #274c77;
    color: #ffffff;
    border: 0;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1rem;
}

form button:hover {
    background-color: #122840;
}

form p {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

form a {
    text-decoration: none;
    color: #274c77;
}